interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.digitalocean.com/v2/account/?per_page=200
  response:
    body: {string: '{"account":{"droplet_limit":25,"floating_ip_limit":3,"email":"user@example.com","uuid":"uuid","email_verified":true,"status":"active","status_message":""}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"8769eca52f6225c463562abaaa9fe660"]
      Ratelimit-Limit: ['5000']
      Ratelimit-Remaining: ['4995']
      Ratelimit-Reset: ['1497869172']
      X-Gateway: [Edge-Gateway]
      X-Response-From: [service]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.digitalocean.com/v2/account/?per_page=200
  response:
    body: {string: '{"account":{"droplet_limit":25,"floating_ip_limit":3,"email":"user@example.com","uuid":"uuid","email_verified":true,"status":"active","status_message":""}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"8769eca52f6225c463562abaaa9fe660"]
      Ratelimit-Limit: ['5000']
      Ratelimit-Remaining: ['4994']
      Ratelimit-Reset: ['1497869172']
      X-Gateway: [Edge-Gateway]
      X-Response-From: [service]
    status: {code: 200, message: OK}
version: 1
