interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.digitalocean.com/v2/account/?per_page=200
  response:
    body: {string: '{"account":{"droplet_limit":25,"floating_ip_limit":3,"email":"user@example.com","uuid":"uuid","email_verified":true,"status":"active","status_message":""}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Etag: [W/"8769eca52f6225c463562abaaa9fe660"]
      Ratelimit-Limit: ['5000']
      Ratelimit-Remaining: ['4999']
      Ratelimit-Reset: ['1497879356']
      X-Gateway: [Edge-Gateway]
      X-Response-From: [service]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://api.digitalocean.com/v2/domains/?per_page=200
  response:
    body: {string: '{"domains":[{"name":"example.com","ttl":1800,"zone_file":"$ORIGIN example.com.\n$TTL 1800\nexample.com. IN SOA ns1.digitalocean.com. hostmaster.example.com. 0000 0000 0000 0000 0000\nexample.com. 1800 IN A 192.168.0.1\nexample.com. 1800 IN NS ns1.digitalocean.com.\nexample.com. 1800 IN NS ns2.digitalocean.com.\nalinkfor.me. 1800 IN NS ns3.digitalocean.com.\nblog.example.com. 1800 IN A 192.168.0.1\n"},{"name":"example.co.","ttl":1800,"zone_file":"$ORIGIN example.co.uk.\n$TTL 1800\nexample.co.uk. IN SOA ns1.digitalocean.com. hostmaster.example.co.uk. 0000 0000 0000 0000 0000\nexample.co.uk. 1800 IN A 192.168.0.2\nexample.co.uk. 1800 IN NS ns1.digitalocean.com.\nexample.co.uk. 1800 IN NS ns2.digitalocean.com.\nexample.co.uk. 1800 IN NS ns3.digitalocean.com.\nwww.example.co.uk. 1800 IN A 192.168.0.2\nexample.co.uk. 1800 IN MX 1 aspmx.l.google.com.\nexample.co.uk. 1800 IN MX 5 alt1.aspmx.l.google.com.\nexample.co.uk. 1800 IN MX 5 alt2.aspmx.l.google.com.\nexample.co.uk. 1800 IN MX 10 aspmx2.googlemail.com.\nexample.co.uk. 1800 IN MX 10 aspmx3.googlemail.com.\nexample.co.uk.example.co.uk. 1800 IN TXT \"v=spf1 mx include:cmail1.com ~all\"\nexample.co.uk.example.co.uk. 1800 IN TXT \"google-site-verification=token\"\n"}],"links":{},"meta":{"total":2}}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
      Ratelimit-Limit: ['5000']
      Ratelimit-Remaining: ['4998']
      Ratelimit-Reset: ['1497879356']
      X-Gateway: [Edge-Gateway]
      X-Response-From: [service]
    status: {code: 200, message: OK}
version: 1
